@charset "utf-8";

@font-face {
  font-family: 'GmarketSansMedium';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

*{
  margin: 0; padding: 0;
  box-sizing: border-box;
  font-family: 'GmarketSansMedium';
}
a{text-decoration: none;}
button{
  outline: 0;
  border: 0;
  background: 0;
  cursor: pointer;
}
header{
  width: 100%;
  height: 70px;
  box-shadow: 2px 2px 5px #e9e9e9;
}
header nav{
  max-width: 1400px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  padding: 0 2rem;
}
header nav div:nth-of-type(2){
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}
header nav div:nth-of-type(2) i{
  font-size: 2rem;
}
header nav div:nth-of-type(2) #searchBtn:hover i{
  transition: all .3s;
  transform: scale(1.1);
}
header nav div:nth-of-type(2) #cartBtn i{
  color: #666;
  font-size: 2.2rem;
}
article{
  max-width: 1400px;
  width: 100%;
  margin: 2rem auto;
  padding: 0 2rem;
}
article section h1{
  text-align: center;
  padding: 5rem 0 2rem 0;
  font-size: 1.5rem;}
article section aside{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
aside .item{
  width: 24%;
}
.item {
  display: flex;
  flex-direction: column
}
.item a{
  display: block;
  background-color: aliceblue;
  width: 100%;
  box-shadow: 2px 2px 5px #dbdbdb;
  border-radius: 7px;
  border: 1px solid #f5f5f5;
}
.item a img{
  object-fit: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
.item div:nth-of-type(1){
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.item .pr_info {
  padding: 1rem .3rem;
}
.item .pr_info div:nth-of-type(1){
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.item .pr_info button{
  display: flex;
  justify-content: center;
  align-items: center;
}
 .item .pr_info i{
  font-size: 1.5rem;
  color: #fff;
  background-color: #48B6F4;
  border-radius: 50%;
  padding: .5rem;
 }
 .item .pr_info span{
  display: block;
  padding: 0;
  color: #777;
 }
 .item .pr_info small{
  display: block;
  padding-top: .7rem;
  font-weight: bold;
 }
 form:nth-of-type(1) label{
  font-weight: bold;
 }
 article form:nth-of-type(1) .cart_item div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid;
}
form:nth-of-type(1) .cart_item div div:nth-of-type(1){
  max-width: 100px;
  width: 100%;
  height: 100px;
}
form:nth-of-type(1) .cart_item div div:nth-of-type(2){
  flex-direction: column;
  align-items: flex-start;
}
